<template>
    <v-card class="pa-3">
        <v-card-title class="text-uppercase">Post</v-card-title>
        <v-card-text class="mt-2">
            <v-text-field v-if="editar" filled label="Título do post" v-model="editaPost.title"></v-text-field>
            <h3 v-if="!editar">{{post.title}}</h3>
            <v-textarea filled v-if="editar" label="Texto do post" v-model="editaPost.body"></v-textarea>
            <p v-if="!editar">{{post.body}}</p>
        </v-card-text>
        <v-card-actions>
            <v-btn color="primary" @click="edit" v-if="!editar">Editar Post</v-btn>
            <v-btn color="primary" @click="updatePost" v-if="editar">Atualizar Post</v-btn>
            <v-btn  color="error" @click="trash">Deletar Post</v-btn>
            <v-spacer></v-spacer>
            <v-btn text @click="$eventHub.$emit('closeModal', false)">Sair</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    props: ['post'],
    data: () => ({
        editaPost: {
            title: '',
            body: '',
            userId:'5'
        },
        editar: false,
    }),
    methods: {
        ...mapActions(['atualizaPost', 'getPosts', 'deletaPost']),
        async updatePost()
        {
            let res = await this.atualizaPost(this.editaPost)
            this.getPosts()
            this.$eventHub.$emit('closeModal', false)
        },
        edit()
        {
            this.editaPost = this.post
            this.editar = true
        },
        trash()
        {
            if(confirm('Tem certeza que deseja excluir esse post?'))
            {
                this.deletaPost(this.editar?this.editaPost.id:this.post.id)
                this.$eventHub.$emit('closeModal', false)
            }
        }
    }
}
</script>

