<template>
  <v-container class="ma-0 pa-0" style="max-width: 100%">
    <v-dialog v-model="openPost" max-width="600">
      <AbrePost :post="postSelect" />
    </v-dialog>
    <h1 class="mt-3 ml-2 text-uppercase">Posts</h1>
    <v-card v-for="(p,i) in getAllPosts" :key="i" class="mt-3 pa-2" @click="open(p)">
      <h3>{{p.title}}</h3>
      <h4>{{p.body}}</h4>
    </v-card>
    <div class="text-center pa-3">
    <v-pagination
      v-model="page"
      :length="10"
      :total-visible="7"
    ></v-pagination>
  </div>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import AbrePost from './AbrePost'
export default {
  components: {
    AbrePost
  },
  data: () => ({
    openPost: false,
    postSelect: {},
    page: 1,
    pages: {
      start: 0,
      limit: 20
    }
  }),
  mounted(){
    this.getPosts(this.pages)
    this.$eventHub.on('closeModal', p => {
      this.openPost = p
    })
  },
  watch: {
    page(newVal, oldVal)
    {
      if(this.page > 1)this.pages.start = newVal - 1 + '0'
      this.pages.limit = newVal + '0'
      this.pages.start = +this.pages.start
      this.pages.limit = +this.pages.limit
      this.getPosts(this.pages)
    }
  },
  computed: {
    ...mapGetters(['getAllPosts'])
  },
  methods: {
    ...mapActions(['getPosts']),
    open(post)
    {
      this.postSelect = post
      this.openPost = true
    }
  }
};
</script>
