<template>
    <v-card class="pa-3">
        
        <v-card-title class="text-uppercase">Criar um novo post</v-card-title>
        <v-card-text class="mt-2">
            <v-text-field filled label="Título do post" v-model="novoPost.title"></v-text-field>

            <v-textarea filled label="Texto do post" v-model="novoPost.body"></v-textarea>
        </v-card-text>
        <v-card-actions>
            <v-btn color="primary" @click="sendPost">Criar Post</v-btn>
            <v-spacer></v-spacer>
            <v-btn text @click="$eventHub.$emit('closeModal', false)">Sair</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    data: () => ({
        novoPost: {
            title: '',
            body: '',
            userId: null
        }
    }),
    methods: {
        ...mapActions(['savePost', 'getPosts']),
        async sendPost()
        {
            this.novoPost.userId = (Math.random() * (10-1) + 1).toFixed()
            let res = await this.savePost(this.novoPost)
            this.getPosts()
            this.$eventHub.$emit('closeModal', false)
        }
    }
}
</script>

