<template>
  <v-app>
    <v-dialog v-model="post" max-width="600" >
      <NovoPost/>
    </v-dialog>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span class="mr-2">lumanai</span>
      </v-toolbar-title>
      <v-btn
        text
      >
        <span class="mr-2" @click="post = true">Novo Post</span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <ListaPosts/>
    </v-content>
  </v-app>
</template>

<script>
import ListaPosts from './components/ListaPosts';
import NovoPost from './components/NovoPost'
export default {
  name: 'App',
  components: {
    ListaPosts,
    NovoPost
  },
  data: () => ({
    post: false
  }),
  mounted(){
    this.$eventHub.on('closeModal', p => {
      this.post = p
    })
  }
};
</script>
